.container{
  background: #333;
  border: solid 5px #000;
}

.item{
  background: #999;
  padding: 10px;
  border: solid 5px #000;
}

.container{
  display:flex;
  align-items: center;
}

.item1{
  flex-grow: 1;
}

.item2{
  flex-grow: 2;
}

.item3{
  flex-grow: 3;
}